@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$magenta-palette,
      tertiary: mat.$rose-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #FDF6F0;
  color: #3D1C2E;
  font-family: 'Playfair Display', serif;
  margin: 0;
  height: 100%;
}